<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<header>
		<div class="container">
			<div class="header-info">
				<div class="header-logo">
					<img src="images/logo-60.jpg" width="60" height="60" alt="Kletenkov Industries">
				</div><!--
				--><span class="header-tagline">Kletenkov Industries. Вперед к мечте!</span>
			</div>
			<nav>
				<ul class="header-menu">
					<li>Направления работы
						<ul class="sub-menu">
							<a href="#"><li>Биоанализ</li></a>
							<a href="#"><li>Фармакокинетика</li></a>
							<a href="#"><li>Био-статистика/-информатика</li></a>
							<a href="#"><li>Блог</li></a>
						</ul>
					</li>
					<li>Наша команда
						<ul class="sub-menu">
							<a href="#"><li>Миссия</li></a>
							<a href="#"><li>Персональные профили</li></a>
							<a href="#"><li>Признание</li></a>
						</ul>
					</li>
					<a href="#"><li>Свяжитесь с нами</li></a>
				</ul>
			</nav>
		</div>
	</header>
	{{ content }}
</body>
</html>